<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h2>Calendario <%= @cancha.nombre %> </h2>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" class="dropdown-item">Config option 1</a>
                    </li>
                    <li><a href="#" class="dropdown-item">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div id="calendario"></div>
        </div>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var eventos = <%= raw @eventos.to_json %>;

    $('#calendario').fullCalendar({
      events: eventos,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month'
      },
      eventRender: function(event, element) {
        element.find('.fc-title').html(event.title);
      }
    });
  });
</script>
 

