<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Canchas Disponibles </h5>
                <div>
                    <%= render 'cancha' %>
                </div>
            </div>
        </div>
    </div>
</div>

