/* Estilos generales para el formulario */
.form-container {
    max-width: 400px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  .logo{
    width: 62px;
  }
  .logo-container{
    align-items: center;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    height: 82px;
    justify-content: center;
    margin: auto;
    width: 76px;
  }
  .vh-100{
    background: linear-gradient(to bottom, #37517e, #47b2e4);  
  }
  /* Estilos para el encabezado */
  .titulo{
    color: black;
    text-align: center;
  }
  
  /* Estilos para los campos de entrada */
  .form-inputs {
    margin-bottom: 20px;
  }
  
  .form-inputs label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  .form-inputs input[type="text"],
  .form-inputs input[type="password"],
  .form-inputs input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* Estilos para los botones */
  .form-actions {
    text-align: center;
  }
  
  .form-actions input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-actions input[type="submit"]:hover {
    background-color: #47b2e4;
  }
  
  /* Estilos para los enlaces adicionales */
  .form-container a {
    color: black;
    text-decoration: none;
  }
  
  .form-container a:hover {
    text-decoration: underline;
  }

  .custom-link {
    color: black;
    text-decoration: none; /* Esto evita la subrayado en los enlaces */
  }
  .custom-link:hover {
    color: black; /* Cambia el color al pasar el cursor sobre el enlace */
  }