<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordatorio</title>
    <style>
        body {
          font-family: 'Arial', sans-serif;
          margin: 0;
          padding: 0;
          background-color: #ffffff;
        }
        .container {
          max-width: 600px; 
          margin: 0 auto; 
          padding: 20px; 
          border: 3px solid #ddd; 
          border-radius: 10px;  
          background-color: #ffffff; 
          color: #020202;
        }
        .container-header{
          background-color: #37517e; 
          padding: 20px; 
          text-align: center; 
          display: flex; 
          align-items: center; 
          justify-content: center; 
          border: 1px solid #ddd; 
          border-radius: 10px;
        }
        .logo{
          width: 100px; 
          height: 85px; 
          margin-right: 10px;
        }
        .titulo{
          font-family: 'sinfonn'; 
          font-size: 40px; 
          font-weight: bold; 
          color: #020202;
        }
        h2{
            color: #47b2e4;
        }

        .reservation-details {
            margin-top: 20px;
        }

        .suggestions {
            margin-top: 20px;
        }

        .footer {
            margin-top: 20px;
        }

        .highlight {
            color: #37517e;
        }

        .payment-details {
          margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="container">
      <div class="container-header">
          <img src="/assets/Logo-CS.png" alt="Logo de la Empresa" class="logo">
          <div class="titulo">SPORT WORLD</div>
      </div>
        <h2>¡Recordatorio de Reserva!</h2>
        <p>Estimado(a) usuario.</p>

        <div class="reservation-details">
            <p>Queremos recordarte que tienes una reserva programada para el <span class="highlight"><%= @reserva.fecha.strftime("%e de %b %Y") %></span>  Desde las <span class="highlight"><%= @reserva.hora_inicio.strftime("%I:%M %p") %></span> hasta las <span class="highlight"> <%= @reserva.hora_fin.strftime("%I:%M %p") %>. </p>
            <p><strong>Dirección de las instalaciones:</strong> <span class="highlight">xxx-xxxx</span><p>
        </div>

        <div class="payment-details">
          <p><strong>Precio Estimado:</strong> $<%= @reserva.precio.to_i %></p>
          <p>Recuerda que el pago se realizará en las instalaciones directamente.</p>
        </div>

        <div class="suggestions">
          <p>¡Esperamos que disfrutes de tu tiempo en nuestras instalaciones!</p>
        </div>

        <div class="footer">
            <p><strong>¡Gracias por elegirnos!</strong> Si tienes alguna pregunta, no dudes en contactarnos.</p>
            <p>Atentamente, Sport World.</p>
        </div>
    </div>
</body>
</html>
