<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <h2>Medidas de Seguridad y Salud</h2>
    <p>Nosotros estamos comprometidos con la seguridad y salud de nuestros usuarios. Aquí te presentamos algunas de las medidas que hemos implementado:</p>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Señalización clara:</h2>
                    <div class="product-imitation-seguridad">
                        <img alt="image" class="img-fluid-sg" src="/assets/alimentos.jpg" />
                    </div>
                    <br>
                    <p>Coloca señales claras que indiquen las reglas y normas de comportamiento en las canchas. Esto puede incluir normas sobre el uso de calzado adecuado, la prohibición de alimentos y bebidas, y otras directrices importantes.</p>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Equipo en buen estado:</h2>
                    <div class="product-imitation-seguridad">
                        <img alt="image" class="img-fluid-sg" src="/assets/elementos.jpg" />
                    </div>
                    <br>
                    <p>Asegúrate de que el equipo, como las redes y las estructuras de las canchas, esté en buen estado. Realiza inspecciones regulares y lleva a cabo las reparaciones necesarias.</p>
                    <p>Mantén la superficie de juego de las canchas sintéticas en condiciones óptimas. Repara cualquier área dañada o desgastada para prevenir tropiezos y caídas.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Iluminación adecuada:</h2>
                    <div class="product-imitation-seguridad">
                        <img alt="image" class="img-fluid-sg" src="/assets/iluminacion.jpg" />
                    </div>
                    <br>
                    <p>Asegúrate de que las canchas estén bien iluminadas, especialmente si se utilizan en horas de la tarde o noche. La buena iluminación mejora la visibilidad y reduce el riesgo de lesiones.</p>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Primeros auxilios:</h2>
                    <div class="product-imitation-seguridad">
                        <img alt="image" class="img-fluid-sg" src="/assets/auxilios.jpg" />
                    </div>
                    <br>
                    <p>Ten un kit de primeros auxilios disponible en caso de lesiones menores. Además, asegúrate de que el personal esté capacitado para responder a situaciones de emergencia.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Gestión de multitudes:</h2>
                    <div class="product-imitation-seguridad">
                        <img alt="image" class="img-fluid-sg" src="/assets/multitud.png" />
                    </div>
                    <br>
                    <p>En eventos o momentos de alta concurrencia, implementa medidas para gestionar de manera efectiva las multitudes y garantizar un ambiente seguro y ordenado.</p>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Personal capacitado:</h2>
                    <div class="product-imitation-seguridad">
                        <img alt="image" class="img-fluid-sg" src="/assets/capacitado.png" />
                    </div>
                    <p>Asegúrate de que el personal esté capacitado en medidas de seguridad y protocolos de emergencia. Esto puede incluir capacitación en primeros auxilios, evacuación de emergencia y gestión de conflictos.</p>
                    <p>Todos los miembros del personal deben conocer los procedimientos de evacuación de emergencia en caso de incendios, desastres naturales u otras situaciones que requieran la evacuación rápida y segura de las instalaciones. Esto implica saber dónde están ubicadas las salidas de emergencia y cómo guiar a los usuarios hacia un lugar seguro.</p>    
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>