<div class="footer">
    <div class="pull-right">
        <strong>Contactanos...</strong> <br><br> 
    </div>
    <div>
        <strong>Correo:</strong> &copy; sportworld@gmail.com <br>
        <strong>Telefono:</strong> &copy; 3044387987
    </div>
</div>