<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>¡Gracias por reservar con nosotros!</h1> <br>
  <h1>¡Puedes mostrar este correo al llegar a nuestras canchas</h1>
  <p>Haz clic en el enlace de abajo para confirmar tu dirección de correo electrónico:</p>
  <p><a href="<%= @confirmation_link %>">Confirmar mi correo electrónico</a></p>
</body>
</html>
