<h1>Facturas#index</h1>
<br>
<h1>Factura</h1>
<table class="table">
              <thead>
                  <tr>
                  <th scope="col">#</th><br>
                  <th scope="col">codigo</th><br>
                  <th scope="col">fecha</th>
                  <th scope="col">hora</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Cancha</th>
                  </tr>
              </thead>
              <tbody>
                <%= render @facturas%>
              </tbody>
              </table>
