<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Calificacion y Comentarios </h5>
                </div>
                <div class="m-t text-righ">
                   <a href="<%= new_comentario_path %>" class="btn btn-xs btn-outline btn-primary">Crear un Comentario<i class="fa fa-long-arrow-right"></i> </a>
                </div>
                <div>
                    <%= render 'comentario' %>
                </div>
            
        </div>
    </div>
</div>